* {
  box-sizing: border-box;
  margin: 0;
}

/* regole condivise */
.container,
.estrazione,
.tabellone,
h1 {
  margin-block: 3rem;
}

/* classi per js */
.inline-block {
  display: inline-block;
  width: 10%;
  margin-block: 1rem;
  text-align: center;
}

.estrazione,
.tabellone {
  display: inline-block;
  margin: -3px;
  vertical-align: top;
}

.container {
  width: 80vw;
  margin-inline: auto;
}
h1 {
  text-align: center;
}

.estrazione {
  width: 20%;
  max-height: 50vh;
}

.tabellone {
  width: 80%;
  padding-inline: 1rem;
}

button {
  display: block;
  margin-inline: auto;
  margin-block: 1rem;
}

li {
  margin-block: 1rem;
}

.caselle {
  margin-top: 2rem;
  width: 80vw;
  margin-left: 10vw;
}

.card {
  display: inline-block;
  margin-inline: -3px;
  width: 38vw;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
}

.numeri-card {
  width: 16%;
  margin-inline: -3px;
  display: inline-block;
}
